<?xml version="1.0"?>
<!-- Config file for PHPUnit automated tests -->
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="tests/phpunit-bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    convertDeprecationsToExceptions="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <include>
            <directory suffix=".php">src/Phinx/</directory>
        </include>
    </coverage>
    <php>
        <!-- MySQL -->
        <env name="TESTS_PHINX_DB_ADAPTER_MYSQL_ENABLED" value="true"/>
        <env name="TESTS_PHINX_DB_ADAPTER_MYSQL_HOST" value="localhost"/>
        <env name="TESTS_PHINX_DB_ADAPTER_MYSQL_USERNAME" value="root"/>
        <env name="TESTS_PHINX_DB_ADAPTER_MYSQL_PASSWORD" value=""/>
        <env name="TESTS_PHINX_DB_ADAPTER_MYSQL_DATABASE" value="phinx_testing"/>
        <env name="TESTS_PHINX_DB_ADAPTER_MYSQL_PORT" value="3306"/>
    </php>
    <testsuites>
        <testsuite name="Phinx Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
