<?xml version="1.0"?>
<!-- Config file for PHPUnit automated tests -->
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="tests/phpunit-bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    convertDeprecationsToExceptions="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <include>
            <directory suffix=".php">src/Phinx/</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Phinx Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
